@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Mono:ital,wght@0,200..800;1,200..800&display=swap');

:root { --padding: 20px; }

* { margin: 0; box-sizing: border-box; font-family: "Atkinson Hyperlegible Mono", sans-serif; }

body.dark {
    --bg-dark: oklch(0 0 0);
    --bg: oklch(0.2 0 0);
    --bg-light: oklch(0.3 0 0);

    --text: oklch(0.9 0 0);
    --text-muted: oklch(0.8 0 0);
}

body.light {
    --bg-dark: oklch(0.92 0 0);
    --bg: oklch(0.96 0 0);
    --bg-light: oklch(1 0 0);

    --text: oklch(0.1 0 0);
    --text-muted: oklch(0.2 0 0);
}

body.dark, body.light {
    --primary: oklch(0.7442 0.1093 87.9);
    --secondary: oklch(0.35 0.03 40);
    --cta: oklch(0.45 0.14 15);
    --accent: oklch(0.65 0.12 50);

    --accent-red: oklch(0.55 0.22 29);
    --accent-green: oklch(0.60 0.16 145);
}

body { background: var(--bg-dark); color: var(--text); }
.selected { color: var(--primary) }

/* ========== HEADER ========== */
header div.logo {
    background: var(--bg);
    height: 5em; width: 100%;
    padding: var(--padding); text-align: center;
}

header div.logo h1, header div.logo img { display: inline-block; vertical-align: middle; }
header div.logo img[alt="LOGO"] { height: 100%; }

header nav {
    position: fixed; bottom: 0; height: 4em; width: 100%;
    left: 50%; transform: translateX(-50%);
    background: var(--bg); text-align: center;
}

header nav a {
    position: relative; display: inline-block;
    top: 50%; transform: translateY(-50%);
    width: 30%;
}
header nav a p { display: none; }

footer .switch {
    position: fixed; width: 50px; height: 50px;
    bottom: 6em; right: 2em; background: var(--bg);
    text-align: center; border-radius: 100%; border-color: var(--bg-light);
    box-shadow: 0 0 30px var(--bg-light);
}

footer .switch i { position: relative; top: 50%; transform: translateY(-50%); opacity: 50%; }