@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
    --color-bg: #F1E0C6;
    --color-text: #2E2E2E;
    --color-main: #D94F3F;
    --color-cta: #F1A800;
    --color-cmpt: #6E7B3E;
    --color-shadow: #222222;
    --padding: 20px;
}

* { margin: 0; box-sizing: border-box; color: var(--color-text); }
body { background: var(--color-bg); max-width: 1920px; margin: 0 auto; }
main { padding: var(--padding); font-family: 'Lato', sans-serif; }

h1 { font-family: 'Climate Crisis', sans-serif; }

.selected { color: var(--color-cmpt); }
.important { color: var(--color-main); }

/* ========== HEADER ========== */
header img[alt="LOGO"] { width: 100%; padding: 20px; }
header nav {
    width: 100%; height: 10%; position: fixed;
    left: 50%; bottom: 0; text-align: center;
    transform: translate(-50%); border-top: 5px solid var(--color-text);
}

header nav a {
    position: relative; display: inline-block;
    top: 50%; transform: translateY(-50%);
    width: 30%; text-align: center;
}
header p { display: none; }

/* ========== DESKTOP ========== */
@media only screen and (min-width: 1200px) {
    header {
        width: 100%; display: table; border-bottom: 5px solid var(--color-text);
        table-layout: fixed; font-family: 'Climate Crisis', sans-serif;
    }
    header img[alt="LOGO"] { padding: 0; }
    
    picture {
        display: table-cell; text-align: center;
        vertical-align: middle; width: 5%;
    }

    header nav {
        position: static; display: table-cell; vertical-align: middle;
        text-align: right; width: 100%; transform: none; border: 0;
        padding-right: 20px;
    }

    header nav a {
        display: inline-block; width: auto;
        top: 0; transform: none;
    }

    header p { display: inline; }
    header a i { visibility: hidden; display: none; }
}