@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@100..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
    --bg-dark: oklch(0.8136 0.0392 78.57);
    --bg: oklch(0.9136 0.0392 78.57);
    --bg-light: oklch(0.9536 0.0392 78.57);

    --text-dark: oklch(0 0 0);
    --text: oklch(0.3012 0 0);
    --text-light: oklch(0.3412 0 0);

    --main-dark: oklch(0.5819 0.1761 29.63);
    --main: oklch(0.6119 0.1761 29.63);
    --main-light: oklch(0.6519 0.1761 29.63);

    --cta: #F1A800;
    --cmpt: #6E7B3E;
    --shadow: #222222;
    --padding: 20px;
}

* { margin: 0; box-sizing: border-box; }
body { background: var(--bg-dark); max-width: 1920px; margin: 0 auto; margin-bottom: 20%; }
main { font-family: 'Cousine', sans-serif; }

h1, h2, h3, p.dish-name { font-family: 'Martian Mono', sans-serif; }
h1, h2, h3{ text-align: center; }
h1 { color: var(--text-dark); }
h2, h3 { color: var(--text); }
h4 { color: var(--text-light); }

.bold { font-weight: bold; }

.selected { color: var(--cmpt); }
.important:not(:has(i)) { color: var(--main); }
.map {
    width: 100%; margin-top: 20px;
    border: 5px solid var(--text);
    border-radius: 20px; box-shadow: 0 2px 10px var(--shadow);
}

.glass {
    border-radius: 1em;
    backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}

button {
    padding: 10px 20px; border: 5px solid var(--text); border-radius: 1em;
    font-family: 'Martian Mono', sans-serif;
}

button.important:has(i) { background: var(--main);; }
button.information { background: var(--cmpt); }
button.schedule { background: var(--cta); width: 90%; }

/* ========== HEADER ========== */
header { border-bottom: 5px solid var(--text); padding: calc(var(--padding) / 2); text-align: center; }
header, header nav { background: var(--bg-light); z-index: 1; }

header img[alt="LOGO"] { width: 20%; }
header div.logo img, header div.logo h1 { display: inline-block; vertical-align: middle; }
header div.logo h1 { margin-left: 10px; }

header nav {
    width: 100%; height: 10%; position: fixed;
    left: 50%; bottom: 0; text-align: center;
    transform: translate(-50%); border-top: 5px solid var(--text);
}

header nav a {
    position: relative; display: inline-block;
    top: 50%; transform: translateY(-50%);
    width: 30%; text-align: center;
}
header p { display: none; }

/* ========== CARDS ========== */
.card {
    display: inline-block; width: 45%;
    padding: calc(var(--padding) / 2);
    background: var(--bg-light);
    border: 5px solid var(--text);
    box-shadow: 0 2px 10px var(--shadow);
    margin: 10px 0 10px 0;
}

.card, img[alt="DISH IMAGE"] { border-radius: var(--padding); }
img[alt="DISH IMAGE"] { aspect-ratio: 16 / 9; object-fit: fill; width: 100%; border: 3px solid var(--text-light); }
.card-text { overflow: hidden; white-space: nowrap; text-align: start; }
p.dish-name { margin-bottom: 5px; }
p.dish-type-price { color: var(--text-light); font-size: .9em; }
.card:hover, .card:active { box-shadow: 0 0px 20px var(--shadow) inset; background: var(--bg); }

/* ========== DESKTOP ========== */
@media only screen and (min-width: 1200px) {
    header {
        width: 100%; display: table; border-bottom: 5px solid var(--text);
        table-layout: fixed; font-family: 'Climate Crisis', sans-serif; padding: var(--padding);
    }

    img[alt="LOGO"] { width: 100%; }
    header div.logo {
        display: table-cell; text-align: center;
        vertical-align: middle;
    }

    header p, button { cursor: pointer; }

    header nav {
        position: static; display: table-cell; vertical-align: middle;
        text-align: right; width: 100%; transform: none; border: 0;
    }
    
    header nav a { display: inline-block; width: auto; top: 0; transform: none; }
    header p { display: inline; }
    header p:hover:not(.selected) { color: var(--main); }
    header a i { visibility: hidden; display: none; }
}