.hero-container, .about-us-container { text-align: center; padding: var(--padding); }
.hero-content {
    background: rgba(from var(--bg) r g b / 50%);
    padding-top: calc(var(--padding) / 2);
    border-radius: 1em;
    box-shadow: 0 5px 10px 0 var(--shadow), 0 5px 20px var(--bg-light) inset;
}

.hero-schedule-container { padding-bottom: calc(var(--padding) / 2); }
.about-us-container .about-us-text { text-align: justify; }


/* ========== DESKTOP ========== */
@media only screen and (min-width: 1200px) {
    .hero-container {
        display: grid; grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto; gap: calc(var(--padding) * 2);
    }

    .hero-container .hero-text, div.schedule { grid-column: 1; grid-row: 1; width: 100%; }
    .about-us-container {
        grid-column: 2; grid-row: 1;
        width: 100%; height: 100%;
        margin-top: 0; min-height: 300px;
    }
}