/* @font-face {
    font-family: 'LovaBold';
    src: url('./static/fonts/LovaBold-Regular.otf') format('opentype');
    font-weight: normal; font-style: normal;
} */

.hero-container { text-align: justify; text-align-last: justify; }
.hero-container span {
    display: flex; text-align: end;
    text-align-last: auto; gap: 5px; align-items: center;
}

.hero-container span::before {
    content: ""; flex: 1; height: 15px;
    background: var(--color-text); border-radius: 10px;
}
