.hero-container { text-align-last: justify; }
.hero-container span {
    display: flex; text-align: end;
    text-align-last: auto; gap: 5px; align-items: center;
}

.hero-container span::before {
    content: ""; flex: 1; height: 15px;
    background: var(--color-text); border-radius: 10px;
}

.hero-container .hero-text { padding-bottom: var(--padding); }
.hero-container div.schedule { display: flex; align-items: center; gap: 5px; }

.hero-container div.schedule::before,
.hero-container div.schedule::after {
    content: ""; display: block; flex: 1;
    height: 5px; background: var(--color-text);
    border-radius: 10px;
}

.about-us { display: none }

.map {
    width: 100%; margin-top: 20px;
    border: 5px solid var(--color-text);
    border-radius: 20px;
}

/* ========== DESKTOP ========== */
@media only screen and (min-width: 1200px) {
    .hero-container {
        display: grid; grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto; gap: calc(var(--padding) * 2);
    }

    .hero-container .hero-text, div.schedule { grid-column: 1; grid-row: 1; width: 100%; }
    .hero-container div.schedule::before, .hero-container div.schedule::after { display: none; }

    .hero-container span { display: inline-block; }
    .hero-container span::before { display: none; }
    .hero-container div.schedule button { display: block; text-align-last: center; width: 50%; }

    .map {
        grid-column: 2; grid-row: 1;
        width: 100%; height: 100%;
        margin-top: 0; min-height: 300px;
    }
}