:root {
    --color-bg: #F1E0C6;
    --color-text: #2E2E2E;
    --color-main: #D94F3F;
    --color-cta: #F1A800;
    --color-cmpt: #6E7B3E;
    --color-shadow: #222222;
}


@font-face {
    font-family: 'LovaBold';
    src: url('./static/fonts/LovaBold-Regular.otf') format('opentype');
    font-weight: normal; font-style: normal;
}

* { margin: 0 auto; font-family: "LovaBold"; }
body { background: var(--color-bg); width: 90%; overflow: hidden; }
header { margin-top: 10px; }
header img { width: 100%; }

nav {
    position: fixed; display: grid;
    grid-template-columns: repeat(3, 1fr); color: var(--color-text);
    width: 90%; height: 10%; bottom: 0; left: 0; right: 0; margin: auto;
    text-align: center; align-items: center; background: var(--color-bg);
    border-top: 5px solid rgba(0, 0, 0, .5); border-radius: 30px 30px 0 0;
}
nav .selected { color: var(--color-cmpt); }

.hero-container {
    position: relative; height: 200px;
    margin-top: 5%; border-radius: 10px;
}

.hero-container img:nth-child(1) {
    position: absolute; left: -25%; top: 5%;
    transform: rotate(5deg); width: 60%;
    -webkit-filter: drop-shadow(0 10px 20px var(--color-shadow));
    filter: drop-shadow(0 10px 20px var(--color-shadow));
}

.hero-container img:nth-child(3) {
    position: absolute; right: -25%; top: 30%;
    transform: rotate(310deg); width: 55%;
    -webkit-filter: drop-shadow(-5px 10px 20px var(--color-shadow));
    filter: drop-shadow(-5px 10px 20px var(--color-shadow));
}

.hero-text {
    position: relative; color: var(--color-text);
    top: 50%; transform: translateY(-50%); text-align: center;
    z-index: 1; font-size: 24px; line-height: 1;
}