.hero-container, .about-us-container { text-align: center; background: var(--main-dark); }
.dishes-container { text-align: center; }

.card, img[alt="DISH IMAGE"] { border-radius: 20px; }
.card {
    display: inline-block; width: 45%;
    padding: calc(var(--padding) / 2);
    background: var(--bg);
    border: 5px solid var(--text);
    box-shadow: 0 5px 20px var(--shadow);
    margin-top: 10px;
}

.card:hover, .card:focus { box-shadow: 0 0px 20px var(--shadow); }
img[alt="DISH IMAGE"] { width: 100%; border: 3px solid var(--text-light); }

.card-text { overflow: hidden; white-space: nowrap; }
.card .card-text { text-align: start; }

/* ========== DESKTOP ========== */
@media only screen and (min-width: 1200px) {
    /* .hero-container {
        display: grid; grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto; gap: calc(var(--padding) * 2);
    }

    .hero-container .hero-text, div.schedule { grid-column: 1; grid-row: 1; width: 100%; }
    .hero-container div.schedule::before, .hero-container div.schedule::after { display: none; }

    .hero-container span { display: inline-block; }
    .hero-container span::before { display: none; }
    .hero-container div.schedule button { display: block; text-align-last: center; width: 50%; }

    .map {
        grid-column: 2; grid-row: 1;
        width: 100%; height: 100%;
        margin-top: 0; min-height: 300px;
    } */
}